body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #EBE9E1; /* light cream background */
    color: #E43D12; /* bold red-orange for text */
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2em; /* Adjust to your preferred size */
}


input[type="submit"]:hover {
    background-color: #FFA2B6; /* soft pink for button hover */
    color: #FFFFFF; /* change text color if needed for better visibility */
}

.dashboard-container h1 {
    text-align: center; /* Center the heading */
}

.container {
    background-color: transparent; /* Container background is now transparent */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: none; /* Removing box shadow for flat design */
}

h1, h2, h3, h4, h5, h6 {
    color: #D6536D; /* dark pink for headers */
    text-shadow: 1px 1px 2px #FFA2B6; /* pink shadow for headers */
}

a {
    color: #EFB11D; /* mustard color for links */
    text-decoration: none;
}

a:hover {
    color: #FFA2B6; /* soft pink for hover */
}

button {
    background-color: #EFB11D; /* mustard color for buttons */
    color: #EBE9E1; /* cream color for button text */
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.2em;
}

button:hover {
    background-color: #FFA2B6; /* soft pink for button hover */
}

input, textarea {
    border: 2px solid #D6536D; /* dark pink borders */
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #D6536D; /* dark pink for focused border */
    box-shadow: 0 0 8px #FFA2B6; /* soft pink glow for focus */
}

.site-header h1 {
    font-family: 'Impact', sans-serif;
    font-size: 100px;
    text-align: center;
    margin-top: 0;
    color: #D6536D; /* dark pink for site header */
    text-shadow: 4px 4px 0px #FFA2B6; /* soft pink shadow for site header */
}