<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Log Volunteer Hours</title>
    <style>
        /* Additional specific style for making the Log Hours button smaller */
        button {
            padding: 5px 10px; /* Smaller padding */
            font-size: 0.8em; /* Smaller font size */
        }
    </style>
</head>
<body>
    <h1>Log Volunteer Hours</h1>
    <br>
    <br>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="{{ url_for('log_hours') }}" method="post">
        <label for="volunteer_name">Volunteer Name:</label>
        <input type="text" id="volunteer_name" name="volunteer_name" required><br>
        <label for="shift_id">Shift Name:</label>
        <select id="shift_id" name="shift_id" required>
            {% for shift in shifts %}
                <option value="{{ shift[0] }}">{{ shift[1] }}</option>
            {% endfor %}
        </select><br>
        <br>
        <label for="hours_worked">Hours Worked:</label>
        <input type="number" id="hours_worked" name="hours_worked" step="0.5" min="0" required><br>
        <button type="submit">Log Hours</button>
        <br>
        <br>
        <br>
        <br>
        <a href="{{ url_for('return_volunteer') }}" class="logout-button">Return Home</a>
    </form>
</body>
</html>